[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:pokeb/asi-http-request.git
[submodule "JSONKit"]
	path = JSONKit
	url = git@github.com:johnezang/JSONKit.git
[submodule "Reachability"]
	path = Reachability
	url = git@github.com:tonymillion/Reachability.git
